.header {
  padding: 20px;
  border-bottom: 5px solid #008cff;
  padding-bottom: 0px;
}

.selectedHeaderButton {
  background: #008cff;
  color: #fff;
  border-bottom: 2px solid #008cff;
}

.ordinaryButton {
  border-bottom: 1px solid #fff;
}

.rightButton {
  margin-left: 10px;
}
