.postsHeader {
  display: inline-flex;
  width: 100%;
  height: 70px;
  margin-top: 5px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  background-color: #dae8fc;
}

.likesAndCommentsNumber span {
  padding: 150px;
}

.likesAndCommentsNumber {
  width: 100%;
  text-align: center;
  padding-top: 1%;
}

.reloadButton {
  margin: 20px;
}

.postHeader {
  display: inline-flex;
  width: 100%;
  height: 75px;
}

.postLikes {
  display: inline-flex;
  padding-left: 85%;
}

.concreteNumberOfLikes {
  padding-top: 35%;
}

.postTitle {
  padding-top: 2%;
}

.postDescription {
  text-align: justify;
}

.postCommentSection textarea {
  width: 100%;
  height: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.singleCommentText {
  display: block;
  width: 100%;
}

.singleCommentDate {
  width: 100%;
  padding-left: 50%;
  color: darkgrey;
}
